.main-slider__content-title{
    font-size: 80px;
}

.about-one__right-list{
    margin-top: 0;
}

.custom-about-title{
    margin-top: 30px;
    margin-bottom: 0;
}

.registration-one{
    padding-top: 60px;
    padding-bottom: 160px;
}

.testimonials-one__single-text{
    height: 200px;
    overflow: auto;
}

.course-details__new-courses{
    margin-top: 0;
}

.vis-hiden{
    visibility: hidden;
}

.course-details__new-courses-list-item-content{
 padding-top: 15px;
 padding-bottom: 20px;
}

.mobile-nav__content .main-menu__list li a button{
 display: none;
}

.logo-box a,
.footer-widget__about-logo a{
 color: #fff;
 font-weight: bold;
}

.course-details__new-courses-list-item-img img{
  width: 66px;
  height: 66px;
  object-fit: contain;
}

.custom-text-black{
  color: #000 !important;
}

.registration-one__left-transform-box{
  padding-bottom: 0;
}

.registration-one__left-transform-box-text{
    padding-left: 0;
}

.registration-one__right-form .form-box{
    visibility: hidden;
}

.registration-one__left-transform-box{
    margin-top: 140px;
}

.formbg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*************Scroll Bar******************/

.why-choose-one__right-img img{
   max-width: 710px;
}

.main-header--one__top-inner{
    display: flex;
    justify-content: space-between;
}

.main-header--one__top-logo img{
    height: 90px;
}

.why-choose-one__right-img-overlay{
    bottom: 0;
    left: 0;
    transform: none;
    top: auto;
}

@media screen and (max-width:767px) {
   .why-choose-one__right-img img{
     max-width: 410px;
     height: 555px;
     object-fit: contain;
    } 

    .why-choose-one__right-img-overlay{
        padding: 10px 35px 8px;
    }

    .main-header--one__top-inner{
        justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    }

    .why-choose-one__right-img-overlay{
        left: 0;
        transform: none;
        top: 356px;
        bottom: auto;
        text-align: center;
    }

}

@media screen and (max-width:992px) {
    .registration-one__left-text.custom-text-black{
        color: #fff !important;
    }
}

.footer-widget__about-logo img{
    height: 180px;
}

@media screen and (max-width:767px) {
    .footer-widget__about-logo img{
        height: 90px;
    }
}

/* .footer-widget__links{
    margin-left: 0;
} */