.main-slider__content-title{
    font-size: 80px;
}

.about-one__right-list{
    margin-top: 0;
}

.custom-about-title{
    margin-top: 30px;
    margin-bottom: 0;
}

.registration-one{
    padding-top: 60px;
    padding-bottom: 0;
}

.testimonials-one__single-text{
    height: 200px;
    overflow: auto;
}

.course-details__new-courses{
    margin-top: 0;
}

.vis-hiden{
    visibility: hidden;
}

.course-details__new-courses-list-item-content{
 padding-top: 15px;
 padding-bottom: 20px;
}

.mobile-nav__content .main-menu__list li a button{
 display: none;
}

.logo-box a,
.footer-widget__about-logo a{
 color: #fff;
 font-weight: bold;
}

.course-details__new-courses-list-item-img img{
  width: 66px;
  height: 66px;
  object-fit: contain;
}

.custom-text-black{
  color: #000 !important;
}

.registration-one__left-transform-box{
  padding-bottom: 0;
}

.registration-one__left-transform-box-text{
    padding-left: 0;
}

.registration-one__right-form .form-box{
    visibility: hidden;
}

.registration-one__left-transform-box{
    margin-top: 140px;
}

.formbg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*************Scroll Bar******************/

.why-choose-one__right-img img{
   max-width: 710px;
}

.main-header--one__top-inner{
    display: flex;
    justify-content: space-between;
}

.main-header--one__top-logo img{
    height: 50px;
}

.why-choose-one__right-img-overlay{
    bottom: 0;
    left: 0;
    transform: none;
    top: auto;
}

@media screen and (max-width:767px) {
   .why-choose-one__right-img img{
     max-width: 410px;
     height: 555px;
     object-fit: contain;
    } 

    .why-choose-one__right-img-overlay{
        padding: 10px 35px 8px;
    }

    .main-header--one__top-inner{
        justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    }

    .why-choose-one__right-img-overlay{
        left: 0;
        transform: none;
        top: 356px;
        bottom: auto;
        text-align: center;
    }

}

@media screen and (max-width:992px) {
    .registration-one__left-text.custom-text-black{
        color: #fff !important;
    }
}

.footer-widget__about-logo img{
    height: 135px;
}

@media screen and (max-width:992px) {
    .mobile-nav__content .main-menu__list ul{
        display: block;
    }
}

.main-slider__content-text{
    font-size: 16px;
    color: #fff;
}

.thm-btn:hover,
.thm-btn:after,
.scroll-to-top:hover{
  background-color: #ff6d00;
}

.footer-widget__links li a:hover,
.footer-widget__courses-list li a:hover,
.footer-widget__contact p a:hover{
    color: #ff6d00;
}

.registration-one__left-transform-box{
    border-bottom: 0;
}

.why-choose-one__right-img-overlay p{
    text-transform: none;
}

/* WhatsApp floating button */
.whatsapp-float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 95px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: #fff;
    transform: scale(1.1);
}

.about-one__left::before{
    background: #ff6d00;
}

.registration-one__left-transform-box{
    margin-top: 210px;
}

.mission-tittle{
    margin-top: 0;
    margin-bottom: 5px;
}

.registration-one .section-title__title.mission-sec-tittle{
    color: #000;
}

@media screen and (max-width:992px) {
    .registration-one__left-transform-box{
        margin-top: 140px;
    }

    .mission-tittle{
        margin-top: 0;
        margin-bottom: 35px;
    }

    .registration-one .section-title__title.mission-sec-tittle{
        color: #fff;
    }
}

.couse-btn .thm-btn{
    padding: 8px 30px 8px;
    background-color: #25d366;
}

.couse-btn .thm-btn i{
    margin-right: 5px;
}


.features-one__single::before{
    background-color: #ff6d00;
}

.features-one__single:hover{
    border-color: #ff6d00;
}

.newsletter-one__right .newsletter-form form button{
    color: #fff;
}

.single-p{
    font-weight: bold;
    color: #1c1e27;
}

/* Course Tabs Styles */
.course-tabs-section {
    padding: 80px 0;
}

.course-tabs-nav {
    margin-bottom: 50px;
}

.course-tabs-nav .nav-tabs {
    border: none;
    justify-content: center;
    margin-bottom: 0;
}

.course-tabs-nav .nav-tabs .nav-item {
    margin: 0 15px;
}

.course-tabs-nav .nav-tabs .nav-link {
    background: #002c63;
    border-radius: 5px;
    letter-spacing: 0.1em;
    padding: 10px 30px 12px;
}

.course-tabs-nav .nav-tabs .nav-link:hover,
.course-tabs-nav .nav-tabs .nav-link.active {
    background: #ff6d00;
    color: #fff;
}

.tab-content {
    margin-top: 30px;
}

.tab-pane {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-pane.show.active {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .course-tabs-nav .nav-tabs {
        flex-direction: column;
        align-items: center;
    }
    
    .course-tabs-nav .nav-tabs .nav-item {
        margin: 10px 0;
        width: 100%;
        max-width: 250px;
    }
    
    .course-tabs-nav .nav-tabs .nav-link {
        width: 100%;
        text-align: center;
    }
}

.course-details{
    padding: 0px 0px 120px;
    max-width: 800px;
    margin: 0 auto;
}

/* Vision Mission 3-Column Layout */
.vision-mission-column{
    text-align: left;
    position: relative;
    z-index: 1;
}

.vision-mission-column .section-title__title{
    color: #fff;
    margin-bottom: 20px;
}

.vision-mission-text{
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.vision-mission-image{
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.vision-mission-image img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

@media screen and (max-width: 992px) {
    .vision-mission-column{
        margin-bottom: 30px;
    }
    
    .vision-mission-image{
        order: -1;
        margin-bottom: 30px;
    }
}

.registration-one__bg{
    bottom: 0;
}